/* Profile page Css */
.profile__container {
  border: none;
  text-align: center;
  margin: 15px;
  position: relative;
  background-color: wheat;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.profile__container__about-me {
  border: solid none;
  text-align: left;
  margin: 15px;
  position: relative;
  background-color: wheat;
  display: grid;
}
.counters {
  display: flex;
  justify-content: space-evenly;
}
.profilicon {
  width: 150px;
  height: 80px;
}
.question-counter {
  border: solid red;
  margin: 15px;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8f43ee;
}
.bookmark-counter {
  border: solid red;
  margin: 15px;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8f43ee;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
