* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  margin: 20px;
  padding: 100px 20px; /* adds 100px at top & bottom and 20px left & right */
}
.card {
  border: solid red;
  text-align: center;
  margin: 15px;
  padding: 25px;
  position: relative;
  background-color: #8f43ee;
}
.hide {
  display: none;
}

/* rounded slider */
button {
  border: solid 3px solid brown;
  background: #ffdd83;
  padding: 10px;
  margin-top: 20px;
}

.card__bookmark {
  position: absolute;
  top: -15px;
  right: 0;
}

.card__tags {
  display: flex;
}
.card__tags__item {
  border: solid blue;
  border-radius: 100%;
  border-style: dotted;
  background-color: rgb(22, 223, 4);
  margin: 5px;
  color: black;
  list-style: none;
  font-weight: 900;
  font-family: ro;
  padding: 10px;
}
.settings {
  border: none;
  margin: 15px;
  position: relative;
  background-color: wheat;
  height: 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /*align-items: center; */
}
h6 {
  font-size: larger;
}
